[toolchain]

[features]
resolution = true
skip-lint = false

[programs.localnet]
week_token = "A7FGoLcEt2qJD32UvzT1ndnBUPWEanprxxYH1PtFouCm"

[programs.devnet]
week_token = "A7FGoLcEt2qJD32UvzT1ndnBUPWEanprxxYH1PtFouCm"

[programs.mainnet]
week_token = "A7FGoLcEt2qJD32UvzT1ndnBUPWEanprxxYH1PtFouCm"

[registry]
url = "https://api.apr.dev"

[provider]
cluster = "devnet"
wallet = "~/.config/solana/id.json"

[scripts]
test = "yarn run ts-mocha -p ./tsconfig.json -t 1000000 tests/**/*.ts"

[workspace]
members = ["programs/*"]
